/* CSS for focus-in-expand animation */
.focus-in-expand {
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

#spinner-element {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid;
    border-color: rgb(234, 234, 234) rgb(79, 119, 250) rgb(229, 229, 229) rgb(79, 119, 250);
    margin: 50px auto;
    margin-top: 150px;
    margin-bottom: 150px;
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(365deg);
    }
}




.auction-room-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.auction-room-container h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #0056b3;
}

/* Grid styles */
.auction-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.filter-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-container label {
    margin: 0 15px;
    font-size: 16px;
}

.auction-product-card {
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.auction-product-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.auction-product-image {
    max-width: 200px;
    border-right: 1px solid #ddd;
}

.auction-product-image img {
    width: 150px;
    height: 150px;
}

.auction-product-details {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    flex-grow: 1;
}

.first-three-p-tag {
    flex: 0 0 auto;
}

.first-three-p-tag h3 {
    margin: 0 0 10px;
    color: #0056b3;
    background-color: #fff;
}

.first-three-p-tag p {
    margin: 5px 0;
    color: #666;
}

.two-ptags-right-side {
    flex: 0 0 auto;
    text-align: right;
}

.two-ptags-right-side .days-left {
    color: red;
    font-weight: bold;

}

.two-ptags-right-side p {
    margin: 5px 0;
    color: #666;
    color: black;
}

.two-ptags-right-side .h-b-n .h-b-n-1 {
    color: rgba(0, 128, 0, 0.821);
    font-weight: bolder;
}

.two-ptags-right-side .winner-name {
    color: black;
    font-weight: bolder;
    font-size: 18px;
    animation: blinkAnimation 1.5s infinite ease-in-out;
    /* Add animation property */
}

@keyframes blinkAnimation {
    0% {
        color: #232222;
        /* Darker grey */
    }

    50% {
        color: rgb(169, 166, 166);
        /* Lighter grey */
    }

    100% {
        color: #4e4b4b;
        /* Darker grey */
    }
}

/* Responsive styles */
@media (max-width: 768px) {
    .auction-product-card {
        flex-direction: column;
    }

    .auction-product-image {
        /* flex: 0 0 auto;
        max-width: 100%;
        height: 200px;
        border-right: none;
        border-bottom: 1px solid #ddd; */
        display: none;
    }

    .auction-product-details {
        flex-direction: column;
        text-align: center;
    }

    .two-ptags-right-side {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .auction-room-container {
        padding: 10px;
    }

    .auction-grid {
        gap: 10px;
    }

    .auction-product-details h3 {
        font-size: 1.2em;
    }

    .auction-product-details p {
        font-size: 0.9em;
    }
}