.error-image-404 {
    width: 500px;
    height: 500px;
    margin-left: 360px;
    margin-top: -50px;
    animation: shake 1s;
}

@keyframes shake {
    0% {
        transform: translate(0, 0) rotate(0);
    }

    10% {
        transform: translate(-10px, 0) rotate(-10deg);
    }

    20% {
        transform: translate(10px, 0) rotate(10deg);
    }

    30% {
        transform: translate(-10px, 0) rotate(-10deg);
    }

    40% {
        transform: translate(10px, 0) rotate(10deg);
    }

    50% {
        transform: translate(-10px, 0) rotate(-10deg);
    }

    60% {
        transform: translate(10px, 0) rotate(10deg);
    }

    70% {
        transform: translate(-10px, 0) rotate(-10deg);
    }

    80% {
        transform: translate(10px, 0) rotate(10deg);
    }

    90% {
        transform: translate(-10px, 0) rotate(-10deg);
    }

    100% {
        transform: translate(0, 0) rotate(0);
    }
}