/* ForgotPassword.css */
.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.forgot-password-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.forgot-password-title {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
    background-color: #fff;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.form-group-forgot {
    margin-bottom: 1.5rem;
    background-color: #fff;
}

.form-label-forgot {
    font-size: 18px;
    font-weight: 500;
    background-color: #fff;

}

.form-input-forgot {
    padding: 0.8rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;

}

.forgot-send-btn {
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}



@media (max-width: 768px) {
    .forgot-password-card {
        padding: 1.5rem;
    }

    .forgot-password-title {
        font-size: 1.6rem;
    }

    .form-input-forgot,
    .forgot-send-btn {
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
    }
}